In [3]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [4]:
dir(housing)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [5]:
df = pd.DataFrame(housing.data, columns=housing.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [6]:
df['MedHouseVal'] = housing.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [9]:
df.isnull().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [10]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [12]:
from sklearn.model_selection import train_test_split

X = df.drop('MedHouseVal', axis='columns')
y = df['MedHouseVal']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

### Train a model using Linear Regression

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import time

start = time.time()
model = LinearRegression()
model.fit(X_train, y_train)
end = time.time()

y_pred = model.predict(X_test)
r2s_linear = r2_score(y_test, y_pred)
mse_linear = mean_squared_error(y_test, y_pred)

print(f'R2 Score: {r2s_linear}, MSE: {mse_linear}, Time: {end-start}')

R2 Score: 0.596596837481235, MSE: 0.5291402345397312, Time: 0.005001544952392578

### Train a model using Gradient Boosting (GBM)

In [18]:
from sklearn.ensemble import GradientBoostingRegressor

start = time.time()
model = GradientBoostingRegressor()
model.fit(X_train, y_train)
end = time.time()

y_pred = model.predict(X_test)
r2s_gbm = r2_score(y_test, y_pred)
mse_gbm = mean_squared_error(y_test, y_pred)

print(f'R2 Score: {r2s_gbm}, MSE: {mse_gbm}, Time: {end-start}')

R2 Score: 0.7790292799949292, MSE: 0.28984527012590655, Time: 6.321633338928223

### Train a model using XGB

In [19]:
from xgboost import XGBRegressor

start = time.time()
model = XGBRegressor()
model.fit(X_train, y_train)
end = time.time()

y_pred = model.predict(X_test)
r2s_xgb = r2_score(y_test, y_pred)
mse_xgb = mean_squared_error(y_test, y_pred)

print(f'R2 Score: {r2s_xgb}, MSE: {mse_xgb}, Time: {end-start}')

R2 Score: 0.8326512949840744, MSE: 0.21950976405131195, Time: 0.2250511646270752

# XGBoost : Classification

In [21]:
from sklearn.datasets import make_classification

In [28]:
X, y = make_classification(
    n_samples=10000,
    n_features=10,
    n_informative=8,
    n_redundant=2,
    n_repeated=0,
    n_classes=3,
    random_state=42
)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

start = time.time()
model = LogisticRegression()
model.fit(X_train, y_train)
end = time.time()

y_pred = model.predict(X_test)
report = classification_report(y_test, y_pred)
print(report)
print(f'Time: {end-start}')

              precision    recall  f1-score   support

           0       0.74      0.70      0.72       677
           1       0.76      0.77      0.76       664
           2       0.68      0.71      0.70       659

    accuracy                           0.73      2000
   macro avg       0.73      0.73      0.73      2000
weighted avg       0.73      0.73      0.73      2000

Time: 0.052092790603637695

In [31]:
from xgboost import XGBClassifier

start = time.time()
model = XGBClassifier()
model.fit(X_train, y_train)
end = time.time()

y_pred = model.predict(X_test)
report_xgb = classification_report(y_test, y_pred)
print(report_xgb)
print(f'Time: {end-start}')

              precision    recall  f1-score   support

           0       0.88      0.90      0.89       677
           1       0.91      0.91      0.91       664
           2       0.91      0.90      0.91       659

    accuracy                           0.90      2000
   macro avg       0.90      0.90      0.90      2000
weighted avg       0.90      0.90      0.90      2000

Time: 0.5270881652832031