In [1]:
import pandas as pd

df = pd.read_csv("home_prices.csv")
df.head()

  locality  area_sqr_ft  price_lakhs  bedrooms
0   Kollur          656         39.0         2
1   Kollur         1260         83.2         2
2   Kollur         1057         86.6         3
3   Kollur         1259         59.0         2
4   Kollur         1800        140.0         3

In [4]:
df_ohe = pd.get_dummies(df, columns=['locality'], drop_first=True)
df_ohe.head()

   area_sqr_ft  price_lakhs  bedrooms  locality_Kollur  locality_Mankhal
0          656         39.0         2             True             False
1         1260         83.2         2             True             False
2         1057         86.6         3             True             False
3         1259         59.0         2             True             False
4         1800        140.0         3             True             False

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [8]:
X = df_ohe.drop('price_lakhs', axis=1)
y = df_ohe['price_lakhs']

In [9]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
# Building the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

model.score(X_test, y_test)

0.8558905263155381

In [12]:
test = pd.DataFrame([
    {'area_sqr_ft': 1600, "bedrooms": 2, "locality_Kollur": False, "locality_Mankhal": False},
    {'area_sqr_ft': 1600, "bedrooms": 2, "locality_Kollur": False, "locality_Mankhal": True},
    {'area_sqr_ft': 1600, "bedrooms": 2, "locality_Kollur": True, "locality_Mankhal": False},
])

model.predict(test)

array([157.03383393, 109.25104283, 113.96340695])